.reveal section img {
  border: 0;
  box-shadow: none;
  max-height: 50vh;
  max-width: 80vw;
  min-width: 25vw;
  margin: auto;
  display:block;
}

.comment {
    position: fixed;
    bottom: 20pt;
    right: 20pt;
    font-size: 10pt !important;
    text-align: right;
}

.reveal .slides {
    text-align: left;
}
